<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="container-fluid">
  <div class="row">
    <!-- Filter Section (Left) -->
    <div class="col-md-3 filter-container">
      <app-hotel-filter (filtersChanged)="applyFilter($event)"></app-hotel-filter>
    </div>

    <!-- Listings Section (Middle) -->
    <div class="col-md-6 listings-container">
      <h2>Listings</h2>
      <div class="row">
        <div class="col-md-12" *ngFor="let hotel of filteredHotels; let i = index">
          <div class="hotel-card" style="cursor: pointer;" (click)="onHotelClick(hotel)" (mouseenter)="highlightHotelOnMap(hotel)">
            
            <!-- Hotel Image -->
            <div class="hotel-image">
              <img [src]="hotel.imageUrl" alt="{{ hotel.name }}">
            </div>

            <!-- Hotel Details -->
            <div class="hotel-details">
              <div class="nameAndfav d-flex justify-content-between">
                <h4>{{ hotel.name }}</h4>
                <button class="btn" style="border: none;">
                  <i class="fa-heart heart-icon"
                     [ngClass]="{ 'fas': hotel.liked, 'far': !hotel.liked }"
                     (click)="$event.stopPropagation(); toggleLike(hotel)">
                  </i>
                </button>
              </div>
              <p>{{ getShortDescription(hotel.description) }}</p>

              <div class="priceAndrating">
                <div class="rating d-flex justify-content-between my-3">
                  <span style="color: gold; font-weight: bold;">
                    {{ hotel.rating +' ⭐' + "&nbsp;&nbsp;&nbsp;&nbsp;("+ hotel.reviews+")" }}
                  </span>
                  <strong class="price mx-5 px-5"
                          (mouseenter)="highlightHotelOnMap(hotel)">
                    {{ hotel.price + "/night" }}
                  </strong>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <!-- Map Section (Right) -->
    <div class="col-md-3 map-container">
      <div id="main-map"></div> 
    </div>
  </div>
</div>
