.container-fluid {
  padding: 20px;
}

.row {
  display: flex;
}

.filter-container {
  background: #f8f9fa;
  padding: 5px;
  height: 100vh;
  overflow-y: auto;
}

.listings-container {
  padding-left: 2px;
}

.hotel-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: white;
}

.hotel-image img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.hotel-details {
  flex: 1;
}

.priceAndrating {
  display: flex;
  justify-content: space-between;
}
.priceAndrating span{
  font-size: 12px;
}

.hotel-map {
  width: 200px;
  height: 150px;
  background: #eee;
  border-radius: 8px;
}
.custom-map-marker div {
  background: #761461;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}


.heart-icon {
  color: red !important; /* Ensures the heart is always red */
  font-size: 1rem; /* Adjust size if needed */
  transition: color 0.3s ease-in-out; /* Smooth transition effect */
  margin-right: 2rem;
}

.heart-icon.far {
  color: gray !important; /* If unliked, show in gray */
}

.heart-icon.fas {
  color: red !important; /* If liked, show in red */
}
.custom-map-marker {
  font-size: 14px;
  color: black;
  text-align: center;
  white-space: nowrap;
}
#main-map {
  height: 100vh;  /* Ensure it has a height */
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

