<app-spinner [isLoading]="isLoading"></app-spinner>
<div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content" @fadeSlideIn>
      <button class="close-btn" (click)="closeModal()">X</button>


      <h2 class="welcome-text" @moveTitleUp>Welcome to StaySearch</h2>




      <div class="cont" [class.s--signup]="isSignup">
        <div class="form sign-in">
            <h2>Login</h2>
            <form #form="ngForm">
            <label>
                <span>Email</span>
                <input type="email" [(ngModel)]="user.username"  #loginemail="ngModel" name="email" required />
            </label>

            <small *ngIf="loginemail.touched && loginemail.errors?.['required']" style="color: red;">
              Email is required!
          </small>
          <label class="password-label">
            <span>Password</span>
            <div class="input-wrapper">
              <input
                [type]="showPassword ? 'text' : 'password'"
                [(ngModel)]="user.password"
                #loginpassword="ngModel"
                name="password"
                required
              />
              <fa-icon
              *ngIf="user.password"
                [icon]="showPassword ? faEyeSlash : faEye"
                class="toggle-password"
                (click)="togglePasswordVisibility()"
              ></fa-icon>
            </div>
          </label>
          

            <small *ngIf="loginpassword.touched && loginpassword.errors?.['required']" style="color: red;">
              password is required!
          </small>
           
            <button type="button" class="submit" (click)="login()"  [disabled]="loginpassword.invalid  || loginemail.invalid">Sign In</button>
            </form>
          


        </div>
    
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h3>Don't have an account? Please Sign up!</h3>
                </div>
                <div class="img__text m--in">
                    <h3>If you already have an account, just sign in.</h3>
                </div>
                <div class="img__btn" (click)="toggleSignup(form,form2,password)">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
    
            <div class="form sign-up">
                <h2>Create your Account</h2>
                
                <form #form2="ngForm">
                  <label>
                    <span>Email</span>
                    <input type="email" [(ngModel)]="user.username" name="email" #email="ngModel" required email />
                </label>
            
                <!-- Required Email Error -->
                <small *ngIf="email.touched && email.errors?.['required']" style="color: red;">
                    Email is required!
                </small>
            
                <!-- Invalid Email Format Error -->
                <small *ngIf="email.touched && email.errors?.['email']" style="color: red;">
                    Enter a valid email address!
                </small>
            
                
              
              
                <label class="password-label">
                  <span>Password</span>
                  <div class="input-wrapper">
                    <input
                      [type]="showPassword ? 'text' : 'password'"
                     #password
                      name="password"
                      required
                    />
                    <fa-icon
                      [icon]="showPassword ? faEyeSlash : faEye"
                      class="toggle-password"
                      (click)="togglePasswordVisibility()"
                    ></fa-icon>
                  </div>
                </label>
                
                <label class="password-label">
                  <span>Retype-Password</span>
                  <div class="input-wrapper">
                    <input
                      [type]="showRetype ? 'text' : 'password'"
                      [(ngModel)]="user.password"
                      name="retypePassword"
                      required
                    />
                    <fa-icon
                      [icon]="showRetype ? faEyeSlash : faEye"
                      class="toggle-password"
                      (click)="toggleRetypeVisibility()"
                    ></fa-icon>
                  </div>
                </label>
                


                <!-- Password Mismatch Error -->
    <small *ngIf="user.password && user.password !== password.value" style="color: red;">
      Passwords do not match!
  </small>

  <button type="button" class="submit" (click)="register()" 
      [disabled]="user.password !== password.value  || email.invalid">
      Sign Up
  </button>
</form>
               



            </div>
        </div>
    </div>
    
      <!-- Previous Popup
    
  
      <form *ngIf="showForm" (submit)="search($event)" @fadeInForm>
        <label for="place">Enter Place:</label>
        <input type="text" id="place" [(ngModel)]="place" name="place" required />
  
        <label for="hotel">Hotel Name:</label>
        <input type="text" id="hotel" [(ngModel)]="hotelName" name="hotel" required />
  
        <button type="submit">Search</button>
      </form>  -->
    </div>
  </div>
  