<div class="top-strip">
  <!-- Left: Date & Time -->
  <div class="date-time">
   IST  {{ currentDateTime }}
  </div>

  <!-- Center: Text Resize -->
  <div class="text-resize">
    <span (click)="resizeText('small')">A-</span>
    <span (click)="resizeText('normal')">A</span>
    <span (click)="resizeText('large')">A+</span>
    <button class="fullscreen-btn" (click)="toggleFullscreen()">⛶</button>
  </div>
 
  <!-- Right: Social Media Icons -->
  <div class="social-icons">
    <button class="admin-btn"   [routerLink]="['/adminAccess']" [queryParams]="{ key: 'owner' }">Management</button>
    <a href="https://www.facebook.com/people/Uttar-Pradesh-State-Tourism-Development-Corporation-Ltd/100086977891416/" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://x.com/i/flow/login?redirect_after_login=%2FUPSTDCUp" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.youtube.com/UttarPradeshTourism" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
  </div>
</div>
