<app-search-modal></app-search-modal>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
       <!-- Language Toggle -->
      
      <!-- Menu -->
      <div class="text-container2">
        <div class="sub-text">UPSTDC</div>
      <a class="navbar-brand" href="#">StaySearch</a>
  
      </div>
      
      

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ 'HOME' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/listings'">{{ 'HOTELS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/contactUs'">{{ 'CONTACTUS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">{{ 'ABOUTUS' | translate }}</a>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="toggleModal()">
              Login/Signup
            </button>
          </li>
          <!-- Search Modal Component -->
          <app-search-modal *ngIf="showModal" [showModal]="showModal" (close)="closeModal()"></app-search-modal>
        </ul>
      </div>
      <div class="language-toggle">
        <div class="input-container" (click)="toggleLanguage(currentLanguage === 'en' ? 'hi' : 'en')">
          <img *ngIf="currentLanguage === 'en'" src="ukflag.png" alt="English" class="flag-icon" />
          <img *ngIf="currentLanguage === 'hi'" src="indflag.png" alt="Hindi" class="flag-icon" />
          <input class="langtext form-control shadow-none" type="text" readonly [value]="langText" />
        </div>
      </div>
    </div>
  </nav>
  







<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="cora1.jpg" class="d-block w-100 carousel-img" alt="First Slide">
            <div class="carousel-caption">
                <div class="text-container">Uttar Pradesh Tourism <span class="heart">❤️</span></div>
         
                <p>{{ 'Good people. Good thinking. Good feeling.' |translate }}</p>
<!-- Search Bar -->
<div class="search-filter-wrapper">
    <!-- Transparent Header -->
    <h4 class="Find-Stay">Find your stay</h4>
<div class="search-filter d-flex align-items-center p-2 shadow-sm rounded animated-search">
  
    <!-- Destination -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-map-marker-alt"></i>
      </span>
      <input type="text" class="form-control" placeholder="{{ 'Where to?' | translate }}" [(ngModel)]="searchData.destination">
    </div>
  
    <!-- Check-in Date -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-calendar-alt"></i>
      </span>
      <input type="date" class="form-control" [(ngModel)]="searchData.checkInDate">
    </div>
  
    <!-- Check-out Date -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-calendar-check"></i>
      </span>
      <input type="date" class="form-control" [(ngModel)]="searchData.checkOutDate">
    </div>
  
    <!-- Number of Guests -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-user"></i>
      </span>
      <input type="number" class="form-control" [(ngModel)]="searchData.guests" min="1" placeholder="Guests">
    </div>
  
    <!-- Number of Rooms -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-bed"></i>
      </span>
      <input type="number" class="form-control" [(ngModel)]="searchData.rooms" min="1" placeholder="Rooms">
    </div>
  
    <!-- Search Button -->
    <button class="btn btn-primary mx-2 animated-button" (click)="searchHotels()">
      <i class="fa fa-search"></i>
    </button>
  
  </div>
  </div>
  
            </div>
        </div>
       
        <div class="carousel-item">
            <img src="cora3.jpg" class="d-block w-100 carousel-img" alt="Third Slide">
            <div class="carousel-caption">
                <div class="text-container">Uttar Pradesh Tourism <span class="heart">❤️</span></div>
            <h2 class="fw-bold" style>{{ 'Relax. Travel. Repeat.' |translate }}</h2>
                  
<!-- Search Bar -->
<div class="search-filter-wrapper">
    <!-- Transparent Header -->
    <h4 class="Find-Stay">Find your stay</h4>

    <!-- Search Bar -->
    <div class="search-filter d-flex align-items-center p-2 shadow-sm rounded animated-search">
        
        <!-- Destination -->
        <div class="input-group mx-2 animated-input">
            <span class="input-group-text">
                <i class="fa fa-map-marker-alt"></i>
            </span>
            <input type="text" class="form-control" placeholder="Where to?" [(ngModel)]="searchData.destination">
        </div>

        <!-- Check-in Date -->
        <div class="input-group mx-2 animated-input">
            <span class="input-group-text">
                <i class="fa fa-calendar-alt"></i>
            </span>
            <input type="date" class="form-control" [(ngModel)]="searchData.checkInDate">
        </div>

        <!-- Check-out Date -->
        <div class="input-group mx-2 animated-input">
            <span class="input-group-text">
                <i class="fa fa-calendar-check"></i>
            </span>
            <input type="date" class="form-control" [(ngModel)]="searchData.checkOutDate">
        </div>

        <!-- Number of Guests -->
        <div class="input-group mx-2 animated-input">
            <span class="input-group-text">
                <i class="fa fa-user"></i>
            </span>
            <input type="number" class="form-control" [(ngModel)]="searchData.guests" min="1" placeholder="Guests">
        </div>

        <!-- Number of Rooms -->
        <div class="input-group mx-2 animated-input">
            <span class="input-group-text">
                <i class="fa fa-bed"></i>
            </span>
            <input type="number" class="form-control" [(ngModel)]="searchData.rooms" min="1" placeholder="Rooms">
        </div>

        <!-- Search Button -->
        <button class="btn btn-primary mx-2 animated-button" (click)="searchHotels()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>




        </div>
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- New Section Below Carousel -->
<section class="explore-section">
    <!-- Black Header -->
    <div class="header">
        <h2>{{ 'Explore the beauty of Uttar Pradesh with StaySearch.' |translate }} </h2>
    </div>

    <!-- Background Image -->
    <div class="background-wrapper">
        <!-- Flexed Images with Text Overlay -->
        <!-- First Row -->
        <div class="image-container">
           
            <div class="image-box">
                <img src="ayo.png" alt="Ram Mandir" class="flex-image">
                <div class="image-caption">
                    <span class="place-name">{{ 'Ram Mandir' |translate }}</span>
                    <span class="explore-text">{{ 'Explore Ayodhya' |translate }}</span>
                </div>
            </div>

            <div class="image-box">
                <img src="kashiV.jpg" alt="Kashi Vishwanath" class="flex-image">
                <div class="image-caption">
                    <span class="place-name">{{'Kashi Vishwanath' | translate}}</span>
                    <span class="explore-text">{{ 'Explore Kashi Vishwanath' |translate }}</span>
                </div>
            </div>


            <div class="image-box">
                <img src="varanashi.jpg" alt="Varanasi" class="flex-image">
                <div class="image-caption">
                    <span class="place-name">{{ 'Varanasi' |translate }}</span>
                    <span class="explore-text">{{ 'Explore Varanasi' |translate }}</span>
                </div>
            </div>


        </div>

        <!-- Second Row -->
        <div class="image-container">

            <div class="image-box">
                <img src="taj2.jpg" alt="Taj Mahal" class="flex-image">
                <div class="image-caption">
                    <span class="place-name">{{ 'Taj Mahal' |translate }}</span>
                    <span class="explore-text">{{ 'Explore Agra' |translate }}</span>
                </div>
            </div>

            <div class="image-box">
                <img src="holi.jpg" alt="Mathura" class="flex-image">
                <div class="image-caption">
                    <span class="place-name">{{ 'Lath Maar Holi' |translate }}</span>
                    <span class="explore-text">{{ 'Explore Mathura'|translate }}</span>
                </div>
            </div>
            <div class="image-box">
                <img src="mathura.jpg" alt="Mathura" class="flex-image">
                <div class="image-caption">
                    <span class="place-name">{{ 'Prem Mandir' |translate }}</span>
                    <span class="explore-text">{{ 'Explore Mathura'|translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Third Row with Animated Button -->
    <div class="third-row" style="background-image: url('navimage.jpg');">
        <button class="explore-btn" [routerLink]="'/listings'">{{ 'Explore More' |translate }}</button>
    </div>
</section>

  <!-- Top Rated Hotels Section -->
  <div class="top-rated-hotels">
    <h2 class="section-header">{{'Top Rated Hotels' |translate}}</h2>

    <div class="hotels-container">
        <!-- Hotel Card 1 -->
        <div class="hotel-card">
            <img src="ramada.jpg" alt="Ramada Palace Agra" class="hotel-image">
            <div class="hotel-overlay">
                <p class="hotel-name">{{'Ramada Palace Agra' |translate}}</p>
                <!-- <button class="hotel-button">{{'Check Me' |translate}}</button> -->
            </div>
        </div>

        <!-- Hotel Card 2 -->
        <div class="hotel-card">
            <img src="amarvilas.jpg" alt="Amar Villas Lucknow" class="hotel-image">
            <div class="hotel-overlay">
                <p class="hotel-name">{{'Amar Villas Lucknow' |translate}} </p>
                <!-- <button class="hotel-button">{{'Check Me' |translate}}</button> -->
            </div>
        </div>

        <div class="hotel-card">
            <img src="rama.jpg" alt="Amar Villas Lucknow" class="hotel-image">
            <div class="hotel-overlay">
                <p class="hotel-name">{{'The Ramayana, Ayodhya' | translate}}</p>
                <!-- <button class="hotel-button">{{'Check Me' |translate}}</button> -->
            </div>
        </div>

    </div>
    <div class="hotels-container">
            <!-- Hotel Card 3 -->
            <div class="hotel-card">
                <img src="lemontree.jpg" alt="Lemon Tree, Agra" class="hotel-image">
                <div class="hotel-overlay">
                    <p class="hotel-name">{{'Lemon Tree, Agra' |translate}}</p>
                    <!-- <button class="hotel-button">{{'Check Me' |translate}}</button> -->
                </div>
            </div>
    
            <!-- Hotel Card 4 -->
            <div class="hotel-card">
                <img src="jp.jpg" alt="JP Palace, Agra" class="hotel-image">
                <div class="hotel-overlay">
                    <p class="hotel-name">{{'JP Palace, Agra' |translate}}</p>
                    <!-- <button class="hotel-button ">{{'Check Me' |translate}}</button> -->
                </div>
            </div>
            <div class="hotel-card">
                <img src="jp.jpg" alt="JP Palace, Agra" class="hotel-image">
                <div class="hotel-overlay">
                    <p class="hotel-name">{{'JP Palace, Agra' |translate}}</p>
                    <!-- <button class="hotel-button ">{{'Check Me' |translate}}</button> -->
                </div>
            </div>
    </div>
</div>



<!--Offers Section-->
<div class="offers-container">
        
    <!-- Offer 1 -->
    <div class="offer-card purple">
        <span class="badge">APP EXCLUSIVE</span>
        <div class="offer-content">
            <h3 class="offer-title">Save up to 45% OFF*</h3>
            <p class="offer-description">Use Code: <span class="offer-code">EMTSTAY</span></p>
            <p class="validity">Valid till: 31st Mar, 2025</p>
            <a href="#" class="book-now">Book Now</a>
        </div>
    </div>

    <!-- Offer 2 -->
    <div class="offer-card orange">
        <div class="offer-content">
            <h3 class="offer-title">Best Price Guarantee</h3>
            <p class="offer-description">Find better hotel prices anywhere else & get a double refund on the price difference.</p>
            <a href="#" class="book-now">Book Now</a>
        </div>
    </div>

    <!-- Offer 3 -->
    <div class="offer-card blue">
        <div class="offer-content">
            <h3 class="offer-title">Get up to 25% OFF*</h3>
            <p class="offer-description">Enjoy memorable experiences with up to 25% OFF* on Cygnett Hotels & Resorts.</p>
            <p class="validity">Valid till: 31st Mar, 2025</p>
            <a href="#" class="book-now">Book Now</a>
        </div>
    </div>

    <!-- Offer 4 -->
    <div class="offer-card green">
        <div class="offer-content">
            <h3 class="offer-title">Get up to 45% OFF*</h3>
            <p class="offer-description">Make your stay affordable with 45% OFF* on The Hosteller Hotels.</p>
            <p class="validity">Valid till: 31st Mar, 2025</p>
            <a href="#" class="book-now">Book Now</a>
        </div>
    </div>

</div>


<!-- Stay Tuned Section -->
<div class="stay-tuned">
    <h2 style="color: white;">{{'Staytuned with StaySearch!' | translate}}</h2>
    <button class="view-hotels-btn" [routerLink]="'/listings'">{{'View More Hotels' | translate}}</button>
</div>

<!-- Happening in Uttar Pradesh Section -->
<div class="happening-container mt-4 pt-4">
    <h2 class="happening-h">{{'Happening In Uttar Pradesh' | translate}}</h2>
  
    <div class="events-wrapper">
      <!-- Kumbh Mela Section (Left: Image First) -->
      <div class="event kumbh-mela">
        <img src="kumb.jpg" alt="Kumbh Mela">
        <div class="event-text">
          <h3 class="highlight">{{"Kumbh Mela 2025" | translate}}</h3>
          <h4>{{'Prayagraj Maha Kumbh Mela 2025' | translate}}</h4>
          <p class="happening-p">
           
{{"Prayagraj holds a sacred  significance as the confluence point..... of the Ganga, Yamuna, and Saraswati rivers, making it one of the pivotal destinations during the upcoming  Maha Kumbh Mela in 2025. This historic city in the state of Uttar  Pradesh is a veritable treasure trove for Hindu pilgrims and history  enthusiasts alike. It offers a rich tapestry of ancient temples,  monuments, and various tourist attractions. At the heart of Prayagraj  lies the revered Triveni Sangam, where the three holy rivers meet, an  absolute must-visit for anyone attending the Maha Kumbh Mela in 2025." | translate}}
          </p>
        </div>
      </div>
  
      <!-- Braj Ki Holi Section (Right: Text First, Then Image) -->
      <div class="event braj-holi">
        <div class="event-text">
          <h3 class="highlight">{{'Braj Ki Holi' | translate}}</h3>
          <p class="happening-p">
          
{{"The festival of color and joy is so much more in the land of Krishna!  Holi at the auspicious “Braj Bhoomi” is outright divine and mesmerizing! Holi is essentially a festival of colors celebrated in different parts  of India and here in Vrindavan, Uttar Pradesh, it hits a different level of enthusiasm!" | translate}}
          </p>
        </div>
        <img src="holi.jpg" alt="Braj Ki Holi">
      </div>
    </div>
  </div>


<!-- This is Uttar Pradesh section -->
<div class="explore-up">
    <h2 class="explore-header">{{'This is Uttar Pradesh' | translate}}</h2>

    <div class="explore-container">
        <!-- Card 1 (Image Left, Text Right) -->
        <div class="explore-card animate-explore-card">
            <div class="explore-image-container">
                <img src="buddh.jpg" alt="Buddh International Circuit" class="explore-image">
            </div>
            <div class="explore-content">
                <h3 style="color: #570E49;">{{'Buddh International Circuit' | translate}}</h3>
                <p>{{'The circuit is located on Yamuna Expressway and is easily accessible from the city....' | translate}}</p>
                <div class="text-center">
                    <button class="explore-button" >{{'View More' | translate}}</button>
                </div>
            </div>
        </div>

        <!-- Card 2 (Image Right, Text Left) -->
        <div class="explore-card animate-explore-card reverse">
            <div class="explore-image-container">
                <img src="blueworld.jpg" alt="Blue World Theme Park" class="explore-image">
            </div>
            <div class="explore-content">
                <h3 style="color: #570E49;">{{'Blue World Theme Park' | translate}}</h3>
                <p>Blue World, one of the biggest theme park, established by 'Blue World Corporation Pvt. Ltd.', is located at 
                    Mandhana - Bithoor Road, just a stone's throw distance from Mandhan Circle, just 22 k.m.</p>
                <div class="text-center">
                    <button class="explore-button">{{'View More' | translate}}</button>
                </div>
            </div>
        </div>

        <div class="explore-card animate-explore-card">
            <div class="explore-image-container">
                <img src="tiger.jpg" alt="Buddh International Circuit" class="explore-image">
            </div>
            <div class="explore-content">
                <h3 style="color: #570E49;">{{'Pilibhit Tiger Reserve.' | translate}}</h3>
                <p>It is situated between Sharda dam and canal. It is a beautiful tourist destination with one bamboo hut, one tree house and four Thara huts.
                     Best time to visit Chuka beach is between the month of October and April.</p>
                <div class="text-center">
                    <button class="explore-button">{{'View More' |translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Feedback and Rating section-->



  
<h5 class="heading">Feedback That matters</h5>
<div style="position: relative; width: 100%;">
<button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
<div class="Feedback-container" #feedbackContainer>
   
 
    <div *ngFor="let feedback of feedbackList" class="feedback-card">
        <div class="feedback-content">
            <!-- <img class="feedback-image" src="assets/images/{{ feedback.hotelName | lowercase }}.jpg" alt="{{ feedback.hotelName }}"> -->
            <h3 class="feedback-title">{{ feedback.hotelName }}</h3>
    
            <!-- Star Rating -->
            <span *ngFor="let star of getStars(feedback.rating)">
                <i *ngIf="star === 'full'" class="fa fa-star"></i>
                <i *ngIf="star === 'half'" class="fa fa-star-half-alt"></i>
                <i *ngIf="star === 'empty'" class="fa fa-star-o"></i>
            </span>
    
            <p class="feedback-description">"{{ feedback.description }}"</p>
    
            <!-- Liked Amenities -->
            <p class="feedback-amenities">
                <strong>Loved Amenities:</strong> {{ feedback.likedAmenities.join(', ') }}
            </p>
    
            <small class="feedback-date">Reviewed on {{ feedback.createdAt | date:'medium' }}</small>
    
           
        </div>
    </div>
    
   </div>
   <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
</div>




    

