<app-search-modal></app-search-modal>
<app-spinner [isLoading]="isLoading"></app-spinner>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
       <!-- Language Toggle -->
      
      <!-- Menu -->
      <div class="text-container2">
        <div class="sub-text">{{'UPSTDC'|translate}}</div>
      <a class="navbar-brand" href="#">{{'StaySearch' |translate}}</a>
  
      </div>
      
      

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ 'HOME' | translate }}</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" >{{ 'ABOUT US' | translate }}

              <i class="fas fa-caret-down  ms-1"></i>
            </a>
            
            <ul class="submenu">
                <li><a [routerLink]="'/about'">State Tourism Department</a></li>
                <!-- <li><a >History of the State</a></li> -->
                <!-- <li><a >Cities and Districts</a></li> -->
                <li><a  [routerLink]="'/chairman_message'">Chairman's Message</a></li>
                <li><a [routerLink]="'/md_message'">MD's Message</a></li>
                <!-- <li><a >Administration Structure</a></li> -->
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/listings'">{{ 'HOTELS' | translate }}</a>
          </li>
              
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/contactUs'">{{ 'CONTACT US' | translate }}</a>
          </li>
         
         
          <!-- Search Modal Component -->
          <app-search-modal *ngIf="showModal" [showModal]="showModal" (close)="closeModal()"></app-search-modal>
        </ul>
      </div>

<!-- Search Bar -->
<div class="search-filter-wrapper">
    <!-- Transparent Header -->
    <!-- <h4 class="Find-Stay">{{'Find your stay' | translate}}</h4> -->
<div class="search-filter d-flex align-items-center p-2 shadow-sm rounded animated-search">
  
    <!-- Destination -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-map-marker-alt"></i>
      </span>
      <input type="text" class="form-control" placeholder="{{ 'Location or Hotel name' | translate }}" [(ngModel)]="searchData.destination">
    </div>
  
    <!-- Check-in Date -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-calendar-alt"></i>
      </span>
      <input type="date" class="form-control" [(ngModel)]="searchData.checkInDate">
    </div>
  
    <!-- Check-out Date -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-calendar-check"></i>
      </span>
      <input type="date" class="form-control" [(ngModel)]="searchData.checkOutDate">
    </div>
  
    <!-- Number of Guests -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-user"></i>
      </span>
      <input type="number" class="form-control" [(ngModel)]="searchData.guests" min="1" placeholder="Guests">
    </div>
  
    <!-- Number of Rooms -->
    <div class="input-group mx-2 animated-input">
      <span class="input-group-text">
        <i class="fa fa-bed"></i>
      </span>
      <input type="number" class="form-control" [(ngModel)]="searchData.rooms" min="1" placeholder="Rooms">
    </div>
  
    <!-- Search Button -->
    <button class="btn btn-primary mx-2 animated-button" (click)="searchHotels()">
      <i class="fa fa-search"></i>
    </button>
  
  </div>
  </div>




      <div class="language-toggle">
        <div class="input-container" (click)="toggleLanguage(currentLanguage === 'en' ? 'hi' : 'en')">
          <img *ngIf="currentLanguage === 'en'" src="ukflag.png" alt="English" class="flag-icon" />
          <img *ngIf="currentLanguage === 'hi'" src="indflag.png" alt="Hindi" class="flag-icon" />
          <input class="langtext form-control shadow-none" type="text" readonly [value]="langText" />
        </div>
        <div *ngIf="isLoggedIn"  class="profile-container">
            <button class="profile-btn" [routerLink]="'/userProfile'">
              <img src="7915522.png" alt="Profile" class="profile-icon" />
            </button>
          </div>
        <div class="auth-container">
            <button *ngIf="!isLoggedIn" (click)="toggleModal()">Login / Signup</button>
          </div>
      </div>
    </div>
  </nav>
  







<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
   <!-- Spinner -->
     <div *ngIf="loading" class="spinner-container">
     <div class="spinner"></div>
     </div>
  <div *ngIf="!loading" class="carousel-inner">
    <div 
      class="carousel-item" 
      *ngFor="let slide of slides; let i = index" 
      [class.active]="i === 0">
      
      <img [src]="slide.image" class="d-block w-100 carousel-img" [alt]="slide.alt">
      <div class="carousel-overlay"></div>
      <div class="carousel-caption">
        <div class="text-container">
          {{ slide.caption | translate }}
          <img class="heart" [src]="slide.icon" alt="Heart Icon">
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- New Section Below Carousel -->
<section class="explore-section">
    <!-- Black Header -->
    <div class="header">
        <h2>{{ 'Explore the beauty of Uttar Pradesh with StaySearch.' |translate }} </h2>
    </div>

    <!-- Background Image -->
    <div class="background-wrapper">
        <!-- Flexed Images with Text Overlay -->
        <!-- First Row -->
        <div class="image-container">
           
          <div class="image-box" (click)="navigateTo('Ayodhya')" style="cursor: pointer;">
            <img src="ayo.png" alt="Ram Mandir" class="flex-image">
            <div class="image-caption">
                <span class="place-name">{{ 'Ram Mandir' |translate }}</span>
                <span class="explore-text">{{ 'Explore Ayodhya' |translate }}</span>
            </div>
        </div>

        <div class="image-box" (click)="navigateTo('Kashi')" style="cursor: pointer;">
            <img src="kashiV.jpg" alt="Kashi Vishwanath" class="flex-image">
            <div class="image-caption">
                <span class="place-name">{{'Kashi Vishwanath' | translate}}</span>
                <span class="explore-text">{{ 'Explore Kashi Vishwanath' |translate }}</span>
            </div>
        </div>


        <div class="image-box" (click)="navigateTo('Varanashi')" style="cursor: pointer;">
            <img src="varanashi.jpg" alt="Varanasi" class="flex-image">
            <div class="image-caption">
                <span class="place-name">{{ 'Varanasi' |translate }}</span>
                <span class="explore-text">{{ 'Explore Varanasi' |translate }}</span>
            </div>
        </div>


    </div>

    <!-- Second Row -->
    <div class="image-container">

        <div class="image-box" style="cursor: pointer;" (click)="navigateTo('Agra')" style="cursor: pointer;">
            <img src="taj2.jpg" alt="Taj Mahal" class="flex-image">
            <div class="image-caption">
                <span class="place-name">{{ 'Taj Mahal' |translate }}</span>
                <span class="explore-text">{{ 'Explore Agra' |translate }}</span>
            </div>
        </div>

        <div class="image-box" (click)="navigateTo('Mathura')" style="cursor: pointer;"> 
            <img src="holi.jpg" alt="Mathura" class="flex-image">
            <div class="image-caption">
                <span class="place-name">{{ 'Lath Maar Holi' |translate }}</span>
                <span class="explore-text">{{ 'Explore Mathura'|translate }}</span>
            </div>
        </div>
        <div class="image-box" (click)="navigateTo('Mathura')" style="cursor: pointer;">
            <img src="mathura.jpg" alt="Mathura" class="flex-image">
            <div class="image-caption">
                <span class="place-name">{{ 'Prem Mandir' |translate }}</span>
                <span class="explore-text">{{ 'Explore Mathura'|translate }}</span>
            </div>
        </div>
    </div>
 </div>
    <!-- Third Row with Animated Button -->
    <div class="third-row" style="background-image: url('navimage.jpg');">
        <button class="explore-btn" [routerLink]="'/listings'">{{ 'Explore More' |translate }}</button>
    </div>
  </section>

  <!-- Top Rated Hotels Section -->
  <div class="top-rated-hotels">
    
     <h2 class="section-header">{{'Top Rated Hotels' |translate}}</h2>
     <!-- Spinner -->
     <div *ngIf="loading" class="spinner-container">
     <div class="spinner"></div>
     </div>

     <div class="hotels-container" *ngIf="!loading">
        <!-- Hotel Card 1 -->
        <div class="hotel-card"  *ngFor="let hotel of topRatedHotels | slice:0:3" style="cursor: pointer;">
            <img [src]="hotel.image" alt="not available"  class="hotel-image">
            <div class="hotel-overlay"  (click)="onHotelClick(hotel.id)">
                <p class="hotel-name">{{hotel.name}}</p>
                <!-- <button class="hotel-button">{{'Check Me' |translate}}</button> -->
            </div>
        </div>


     </div>
     <div class="hotels-container" *ngIf="!loading">
            
        <div class="hotel-card"  *ngFor="let hotel of topRatedHotels | slice:3:6" style="cursor: pointer;">
          <img [src]="hotel.image" alt="not available"  class="hotel-image">
          <div class="hotel-overlay" (click)="onHotelClick(hotel.id)">
              <p class="hotel-name">{{hotel.name}}</p>
              <!-- <button class="hotel-button">{{'Check Me' |translate}}</button> -->
          </div>
      </div>
    </div>


</div>



<!--Offers Section-->
<div class="offers-section">
  <!-- Centered Heading -->
  <h2 class="offers-heading">Offers</h2>

  <!-- Scrollable Offers Area -->
  <div class="offers-container">
    <button class="scroll-btn left" (click)="scrollLeft()">&#8249;</button>

    <div class="offers-grid" #offersContainer>
      <div *ngFor="let offer of offers" class="offer-card">
        <span *ngIf="offer.badge" class="badge">{{ offer.badge }}</span>
        <img class="offer-image" [src]="offer.image"  alt="offers"> 
        <div class="offer-content">
          
          <h3 class="offer-title">{{ offer.title }}</h3>
          <p class="offer-description">{{ offer.description }}% off</p>
          <p *ngIf="offer.validity" class="validity">{{ offer.validity }}</p>
          <a [routerLink]="'/listings'" class="book-now">Explore Now</a>
          
        </div>
      </div>
    </div>

    <button class="scroll-btn right" (click)="scrollRight()">&#8250;</button>
  </div>
</div>


<!-- Stay Tuned Section -->
<div class="stay-tuned">
    <h2 style="color: white;">{{'Staytuned with StaySearch!' | translate}}</h2>
    <button class="view-hotels-btn" [routerLink]="'/listings'">{{'View More Hotels' | translate}}</button>
</div>

<!-- Happening in Uttar Pradesh Section -->
<div class="happening-container mt-4 pt-4">
    <h2 class="happening-h">{{'Happening In Uttar Pradesh' | translate}}</h2>
  
   <div class="events-wrapper">
  <div 
    class="event" 
    *ngFor="let event of events; let i = index"
    [ngClass]="event.className">
    
    <!-- Left Image, Right Text -->
    <ng-container *ngIf="event.imageFirst">
      <img [src]="event.image" [alt]="event.altText">
      <div class="event-text">
        <h3 class="highlight">{{ event.title | translate }}</h3>
        <h4 *ngIf="event.subtitle">{{ event.subtitle | translate }}</h4>
        <p class="happening-p">{{ event.description | translate }}</p>
      </div>
    </ng-container>

    <!-- Left Text, Right Image -->
    <ng-container *ngIf="!event.imageFirst">
      <div class="event-text">
        <h3 class="highlight">{{ event.title | translate }}</h3>
        <h4 *ngIf="event.subtitle">{{ event.subtitle | translate }}</h4>
        <p class="happening-p">{{ event.description | translate }}</p>
      </div>
      <img [src]="event.image" [alt]="event.altText">
    </ng-container>

  </div>
</div>

  </div>


<!-- This is Uttar Pradesh section -->
<div class="explore-up">
    <h2 class="explore-header">{{'This is Uttar Pradesh' | translate}}</h2>

    <div class="explore-container">
        <!-- Card 1 (Image Left, Text Right) -->
        <div class="explore-card animate-explore-card">
            <div class="explore-image-container">
                <img src="buddh.jpg" alt="Buddh International Circuit" class="explore-image">
            </div>
            <div class="explore-content">
                <h3 style="color: #570E49;">{{'Buddh International Circuit' | translate}}</h3>
                <p>{{'The circuit is located on Yamuna Expressway and is easily accessible from the city....' | translate}}</p>
                <div class="text-center">
                   
                </div>
            </div>
        </div>

        <!-- Card 2 (Image Right, Text Left) -->
        <div class="explore-card animate-explore-card reverse">
            <div class="explore-image-container">
                <img src="blueworld.jpg" alt="Blue World Theme Park" class="explore-image">
            </div>
            <div class="explore-content">
                <h3 style="color: #570E49;">{{'Blue World Theme Park' | translate}}</h3>
                <p>Blue World, one of the biggest theme park, established by 'Blue World Corporation Pvt. Ltd.', is located at 
                    Mandhana - Bithoor Road, just a stone's throw distance from Mandhan Circle, just 22 k.m.</p>
               
            </div>
        </div>

        <div class="explore-card animate-explore-card">
            <div class="explore-image-container">
                <img src="tiger.jpg" alt="Buddh International Circuit" class="explore-image">
            </div>
            <div class="explore-content">
                <h3 style="color: #570E49;">{{'Pilibhit Tiger Reserve.' | translate}}</h3>
                <p>It is situated between Sharda dam and canal. It is a beautiful tourist destination with one bamboo hut, one tree house and four Thara huts.
                     Best time to visit Chuka beach is between the month of October and April.</p>
                <div class="text-center">
                   
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Feedback and Rating section-->



  
<h5 class="heading">{{'Feedback That matters' |translate}}</h5>
<div style="position: relative; width: 100%;">
   
<button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
<div class="Feedback-container" #feedbackContainer >
   
 
    <div *ngFor="let feedback of feedbackList | slice:0:6" class="feedback-card">
        <div class="feedback-content">
            <!-- <img class="feedback-image" src="assets/images/{{ feedback.hotelName | lowercase }}.jpg" alt="{{ feedback.hotelName }}"> -->
            <h3 class="feedback-title">{{ feedback.hotelName }}</h3>
    
            <!-- Star Rating -->
            <span *ngFor="let star of getStars(feedback.rating)">
                <i *ngIf="star === 'full'" class="fa fa-star"></i>
                <i *ngIf="star === 'half'" class="fa fa-star-half-alt"></i>
                <i *ngIf="star === 'empty'" class="fa fa-star-o"></i>
            </span>
    
            <p class="feedback-description">"{{ feedback.description }}"</p>
    
            <!-- Liked Amenities -->
            <p class="feedback-amenities">
                <strong>Loved Amenities:</strong> {{ feedback.likedAmenities.join(', ') }}
            </p>
    
            <small class="feedback-date">Reviewed on {{ feedback.createdAt | date:'medium' }}</small>
    
           
        </div>
    </div>
    
   </div>
   <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
</div>




    

