<div class="md-section">
    <div class="md-content">
      <h2>
        Managing Director’s <span class="highlight">Message</span>
      </h2><br>
      <p>
        Welcome to the Uttar Pradesh State Tourism Development Corporation’s website!
      </p>
      <p>
        As the Managing Director of UPSTDC, I am delighted to share with you the multitude of brilliant tourism
        opportunities that our state has to offer. From the rich cultural heritage of our cities to the magnanimous beauty
        of our forests and rivers, Uttar Pradesh is truly a scintillating destination like no other.
      </p>
      <p>
        Our team at UPSTDC is dedicated to furthering tourism in the state, and we are committed to providing visitors
        with world class experience.
      </p>
      <p>
        Whether you are a first-time traveler or a seasoned explorer, we wholeheartedly welcome you to discover the many
        wonders of Uttar Pradesh.
      </p>
      <p>
        We hope that this website proves to be a valuable resource for you as you plan your trip, and we look forward to
        seeing you in Uttar Pradesh where every travel becomes a tale worth telling.
      </p>
      <div class="md-signature">
        <strong>Ms.Isha Priya</strong><br />
        (IAS)<br />
        Managing Director<br />
        UPSTDC Ltd.
      </div>
    </div>
    <div class="md-image">
      <img  src="/isha.jpg" alt="Managing Director Isha Priya" />
    </div>
  </div>
