.md-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    padding: 40px;
    border-radius: 12px;
    background-image: url("/image_up.png");
    height: 700px;
    flex-wrap: wrap;
    
  }
  
  .md-content {
    flex: 1;
    min-width: 300px;
    max-width: 60%;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    
    
  }
  
  .md-content h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .md-content .highlight {
    color: green;
  }
  
  .md-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 12px 0;
  }
  
  .md-signature {
    margin-top: 20px;
    font-weight: bold;
    color: #222;
  }
  
  .md-image {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-width: 250px;
  }
  
  .md-image img {
 
  width: 80%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  }
  

  @media (max-width: 1024px) {
    .md-section {
      padding: 25px;
      height: auto;
      min-height: 500px;
      align-items: flex-start;
    }
  
    .md-content {
      max-width: 55%;
      padding-right: 10px;
    }
  
    .md-image img {
      max-width: 100%;
      max-height: 400px;
    }
  
    .md-content h2 {
      font-size: 1.8rem;
    }
  
    .md-content p {
      font-size: 0.95rem;
    }
  }
  
  @media (max-width: 768px) {
    .md-section {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: auto;
    }
  
    .md-content {
      max-width: 100%;
      padding-right: 0;
      text-align: center;
      margin-bottom: 30px;
      order: 2;
    }
  
    .md-image {
      width: 100%;
      max-width: 400px;
      padding: 10px 0;
      order: 1;
      align-items: center;
    }
  
    .md-image img {
      max-width: 70%;
      max-height: 300px;
    }
  
    .md-content h2 {
      font-size: 1.7rem;
    }
  
    .md-content p {
      font-size: 0.9rem;
    }
  }