.footer {
    display: flex;
    justify-content: space-between;
    background: url('/navimage.jpg') no-repeat center center;
    background-size: cover;
    padding: 10px 20px;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .footer-left{
    margin-left: 5vw;
  }
  .footer-left h2 {
    margin: 0;
    margin-top: 8vh;
  }
  
  .footer-left p a {
    color: #ADD8E6;
    text-decoration: none;

  }
  
  .footer-middle ul {
    list-style: none;
    padding: 0;
    margin-top: 10vh;
  }
  
  .footer-middle ul li a {
    color: white;
    text-decoration: none;
  }
  .footer-right {
    margin-top: 8vh;
    margin-right: 5vw;
  }
  .footer-right input {
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  .footer-right button {
    display: block;
    margin-top: 10px;
    padding: 8px;
    border: none;
    background: #8B008B;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  