<footer class="footer">
    <div class="footer-left">
      <div class="text-container">
        <div class="sub-text">UPSTDC</div>
     <h1> <a class="navbar-brand" href="#">STAYSEARCH</a></h1>
      </div>
      <!-- <p>Phone: +12345678</p> -->
      <!-- <p>Email: <a href="mailto:staysearch@gmail.com">staysearch.com</a></p> -->

      <h3>Contact Info</h3>
      <hr />
      <p>Department Of Uttar Pradesh State Tourism<br>
      Development Corporation, Rajarshi<br>
      Purushottam Das Tandon Paryatan Bhavan<br>
      C-13, Vipin Khand, Gomti Nagar, Lucknow,<br>
      Uttar Pradesh</p>
   
    </div>
    <div class="footer-middle">



      <h3>About Uttar Pradesh</h3>
      <hr />
      <ul>
        <li><a href="#">History</a></li>
        <li><a href="#">Organisational Structure</a></li>
        <li><a href="#">Uttar Pradesh Tender</a></li>
        <li><a href="#">UPSTDC Portal</a></li>
        <li><a href="#">Press & Media</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
      <!-- <ul> -->
        <!-- <li><a href="#">Our Hotels</a></li><br> -->
        <!-- <li><a href="#">Our Conferencing</a></li><br> -->
        <!-- <li><a href="#">Our Company</a></li><br> -->
        <!-- <li><a href="#">Hotel Design</a></li><br> -->
        <!-- <li><a href="#">Careers</a></li><br>     -->
      <!-- </ul> -->
    </div>
    <div class="footer-right">
      <h3>Policies</h3>
      <hr />
      <ul style="list-style: none; ">
        <li><a >Cancellation Policy</a></li>
        <li><a >Terms & Conditions</a></li>
        <li><a >Copyright Policy</a></li>
        <li><a >Privacy Policy</a></li>
        <li><a >Hyperlinking Policy</a></li>
        <li><a >DOs & Don’ts</a></li>
        <li><a >Help</a></li>
      </ul>
      
      <!-- <h3>Subscribe for Offers</h3><br> -->
      <!-- <input type="email" class="form-control shadow-none border-0" placeholder="Email Address"> -->
      <!-- <button>Subscribe Now</button> -->
    </div>
  </footer>
  