<div class="aboutUs-container">
    <h2>About Us</h2>

    <div class="about-container">
        <!-- Left Content -->
        <div class="about-text">
         
          <h2>Connecting you to the Real Uttar Pradesh</h2>
          <p>
            StaySearch is a comprehensive hotel discovery and booking platform developed by the Uttar Pradesh State Tourism Development Corporation (UPSTDC). Designed to provide travelers with a seamless and hassle-free experience, StaySearch showcases a diverse range of hotels across Uttar Pradesh, from budget-friendly stays to luxury resorts. The platform serves as a one-stop destination for both domestic and international tourists, offering verified accommodations with detailed information, real-time availability, and secure booking options.
          </p>
          <p>
             Seamless acess to curated accomodationand and real-time event updates. Explore interactive maps, discover hidden attractions, and book your travel with ease, all from the palm of your hand.
          </p>
         
        </div>
      
        <!-- Right Image Grid -->
        <div class="about-images">
          <div class="top-row">
            <img src="stairs.jpg" alt="Stairs" />
            <img src="pool.jpg" alt="Pool" />
          </div>
          <img class="wide-img" src="garden.jpg" alt="Garden" />
        </div>
      </div>


      <div class="card-container" >
        <img src="stairs.jpg" alt="Background" class="background-image" />
        <div class="card">
          <h3>Beyond the Guide book
          </h3>
          <p>Unearth UP's untold destination that are not found in Guide books.</p>
      </div>
      <div class="card">
          <h3>Book faster and Explore sooner
              </h3>
          <p>secure your sport and avoid disappointment and mazimixe your exploration time.</p>
      </div>
      <div class="card">
          <h3>Your assurance of a perfect stay
      </h3>
          <p>Affordable adventure and Luxurious escape all in one place.</p>
      </div>
      <div class="card">
          <h3>Navigate without Hassel
              </h3>
          <p>Instant acess to maps directions and local information, so you can navigate effortlessly.</p>
      </div>
    </div>


      
      
      
      


</div>