<div class="aboutUs-container">
    <h2>About Us</h2>

    <div class="about-container">
        <!-- Left Content -->
        <div class="about-text">
         
          <h2>Trust and quality are our atuus</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <button class="read-more" style="background-color: #570E49;">
            read more <span>→</span>
          </button>
        </div>
      
        <!-- Right Image Grid -->
        <div class="about-images">
          <div class="top-row">
            <img src="stairs.jpg" alt="Stairs" />
            <img src="pool.jpg" alt="Pool" />
          </div>
          <img class="wide-img" src="garden.jpg" alt="Garden" />
        </div>
      </div>


      <div class="card-container" >
        <img src="stairs.jpg" alt="Background" class="background-image" />
        <div class="card">
            <h3>Free Wifi
                to stay connected</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="card">
            <h3>4K Television and
                Netflix included</h3>
            <p>This is the second card.</p>
        </div>
        <div class="card">
            <h3>Span zone where
                you can chill</h3>
            <p>This is the third card.</p>
        </div>
        <div class="card">
            <h3>Spacious rooms
                for awesome parties</h3>
            <p>This is the fourth card.</p>
        </div>
    </div>


      
      
      
      


</div>