<div class="aboutUs-container">
  <h2>{{ 'About Us' | translate }}</h2>

  <div class="about-container">
      <!-- Left Content -->
      <div class="about-text">
       
        <h2>{{ 'connect_real_up' | translate }}</h2>
       <p>{{ 'corp_establishment' | translate }}</p>
         <p>{{ 'corp_operations' | translate }}</p>
          <p>{{ 'corp_objectives' | translate }}</p>          
          
          <p>{{ 'other_activities_title' | translate }}</p>
         <ul>
          <li>{{ 'activity_urban_haat' | translate }}</li>
          <li>{{ 'activity_vehicle_parking' | translate }}</li>
        </ul>
        
       
      </div>


      
      <!-- Right Image Grid -->
      <div class="about-images">
        <div class="top-row">
          <img src="stairs.jpg" alt="Stairs" />
          <img src="pool.jpg" alt="Pool" />
        </div>
        <img class="wide-img" src="garden.jpg" alt="Garden" />
      </div>
    </div>



    <div class="table-container">
      <h2 class="table-title">{{ 'Hotels List' | translate }}</h2>
      <table class="hotel-table">
         
          <tbody>
              <tr><td>1</td><td>Hotel Gomti, Lucknow</td><td> 11</td><td>Hotel Saket, Ayodhya</td> <td>21</td> <td> Rahi Yatri Niwas, Vindhyachal, Mirzapur </td> <td>31</td> <td>Rahi Tourist Bungalow, Rania, Kanpur Dehat</td> </tr>
              <tr><td>2</td><td>Hotel Ilawart, Prayagraj</td>
                <td> 12</td><td>Hotel Jahnvi, Mirzapur</td> <td>22</td> <td>  Rahi Tourist Bungalow, Shravasti  </td> <td>32</td> <td>Rahi Tourist Bungalow, Tatyaganj, Kanpur</td> 
              </tr>
              <tr><td>3</td><td>Pathik Niwas, Kushinagar</td>
                <td> 13</td><td>Rahi Triveni Darshan, Prayagraj </td> <td>23</td> <td>  Hotel Rohila, Bareilly </td>  <td>33</td> <td>Rahi Tourist Bungalow, Garhmukteshwar, Hapur</td>
              </tr>
              <tr><td>4</td><td>Rahi Tourist Bungalow, Varanasi</td> <td> 14</td><td>Rahi Tourist Bungalow, Sankisa, Farukkhabad </td> <td>24</td> <td> Rahi Tourist Bungalow, Dohrighat, Mau </td> <td>34</td> <td>Rahi Tourist Bungalow, Bateshwar, Agra</td></tr>
              <tr><td>5</td><td>Hotel Alaknanda, Haridwar</td> <td> 15</td><td>Hotel Saket, Ayodhya</td> <td>21</td> <td> Rahi Yatri Niwas, Vindhyachal, Mirzapur </td> <td>31</td> <td>Rahi Tourist Bungalow, Rania, Kanpur Dehat</td></tr>
              <tr><td>6</td><td>Rahi Tourist Bungalow, Agra</td> <td> 16</td><td>Hotel Saket, Ayodhya</td> <td>21</td> <td> Rahi Yatri Niwas, Vindhyachal, Mirzapur </td> <td>31</td> <td>Rahi Tourist Bungalow, Rania, Kanpur Dehat</td></tr>
              <tr><td>7</td><td>Gulistan Complex Fatehpur Sikri</td> <td> 17</td><td>Hotel Saket, Ayodhya</td> <td>21</td> <td> Rahi Yatri Niwas, Vindhyachal, Mirzapur </td> <td>31</td> <td>Rahi Tourist Bungalow, Rania, Kanpur Dehat</td></tr>
              <tr><td>8</td><td>Rahi Veerangana, Jhansi</td> <td> 18</td><td>Hotel Saket, Ayodhya</td> <td>21</td> <td> Rahi Yatri Niwas, Vindhyachal, Mirzapur </td> <td>31</td> <td>Rahi Tourist Bungalow, Rania, Kanpur Dehat</td></tr>
              <tr><td>9</td><td>Rahi Tourist Bungalow, Balrampur</td> <td> 19</td><td>Hotel Saket, Ayodhya</td> <td>21</td> <td>  Rahi Yatri Niwas, Vindhyachal, Mirzapur </td> <td>31</td> <td>Rahi Tourist Bungalow, Rania, Kanpur Dehat</td></tr>
              <tr><td>10</td><td>Rahi Tourist Bungalow, Sonauli, Maharajganj</td> <td> 20</td><td>Hotel Saket, Ayodhya</td> <td>21</td> <td>  Rahi Yatri Niwas, Vindhyachal, Mirzapur </td> <td>31</td> <td>Rahi Tourist Bungalow, Rania, Kanpur Dehat</td></tr>
              <!-- Add more rows as needed -->
          </tbody>
      </table>
  </div>

  <div class="table">
    <h2 class="table-title">{{ 'Reservation Center' | translate}}</h2>
    <table class="hotel-table">
      <tr><td>1</td><td>   UPTOURS, Lucknow  </td></tr>
      <tr><td>2</td><td> UPTOURS, Agra    </td></tr>
      <tr><td>3</td><td> UPTOURS, Prayagraj    </td></tr>
      <tr><td>4</td><td>  UPTOURS, Varanasi   </td></tr>
      <tr><td>5</td><td> UPTOURS, Haridwar    </td></tr>
      <tr><td>6</td><td>  UPTOURS, Jhansi   </td></tr>
      <tr><td>7</td><td> UPTOURS, Kolkata    </td></tr>
    
    </table>
  </div>


    <div class="card-container" >
      <img src="stairs.jpg" alt="Background" class="background-image" />
      <div class="card">
        <h3>{{ 'beyond_guidebook_title' | translate}}
        </h3>
        <p>{{ 'beyond_guidebook_description' | translate}}</p>
</div>
      <div class="card">
       <h3>{{ 'book_faster_title' | translate }}</h3>
       <p>{{ 'book_faster_description' | translate }}</p>
  </div>
        <div class="card">
      <h3>{{ 'perfect_stay_title' | translate }}</h3>
        <p>{{ 'perfect_stay_description' | translate }}</p>
</div>

    <div class="card">
        <h3>{{'navigate_without_hassel_title' | translate}}</h3>
        <p>{{'navigate_without_hassel_description' | translate}}</p>
    </div>
  </div>


</div>