<div class="chairman-section">
    <div class="chairman-content">
      <h2>Chairman’s <span class="highlight">Message</span></h2>
      <br>
      <p>
        Welcome to the Uttar Pradesh State Tourism Development Corporation website! I am thrilled to share
        with you the many wonders and attractions that our state has to offer. From the rich cultural heritage
        and historical monuments, to the natural beauty of our landscape, there is something for everyone
        to explore and enjoy in Uttar Pradesh
      </p>
      <p>
        We are committed to providing our visitors with the best possible experience, and we have worked
        hard to ensure that our website is informative, user-friendly, and easy to navigate. Whether you are
        planning a trip to our state, or simply looking for information about our attractions and services, you
        will find everything you need here.
      </p><br>
      <p>
        We invite you to browse our website and discover the many things that Uttar Pradesh has to offer.
        We look forward to welcoming you to our state and showing you all that it has to offer.
      </p><br>
      <p class="closing">
        <strong>Thank you for visiting our website and we hope to see you soon in Uttar Pradesh!</strong>
      </p>
    </div>
  
    <div class="chairman-image">
      <img src="https://upstdc.co.in/Content/assets/img/about/Shri-Mukesh-Kumar-Meshram.jpg" alt="Chairman Mukesh Kumar Meshram" />
      <div class="chairman-caption">
        <strong>Mukesh Kumar Meshram</strong><br />
        <em>Chairman, Uttar Pradesh State Tourism Development Corporation</em>
      </div>
    </div>
  </div>
  