#map {
    height: 400px;
    width: 100%;
  }

/* Hide the scrollbar completely */
::-webkit-scrollbar {
    display: none;
}

/* Ensure scrolling still works */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
    overflow-y: auto; /* Keep vertical scrolling enabled */
}
