<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
       <!-- Language Toggle -->
      
      <!-- Menu -->
      <div class="text-container">
        <div class="sub-text">UPSTDC</div>
      <a class="navbar-brand" href="#">StaySearch</a>
  
      </div>
      
      

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ 'HOME' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/listings'">{{ 'HOTELS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/contactUs'">{{ 'CONTACTUS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">{{ 'ABOUTUS' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="language-toggle">
        <div class="input-container" (click)="toggleLanguage(currentLanguage === 'en' ? 'hi' : 'en')">
          <img *ngIf="currentLanguage === 'en'" src="ukflag.png" alt="English" class="flag-icon" />
          <img *ngIf="currentLanguage === 'hi'" src="indflag.png" alt="Hindi" class="flag-icon" />
          <input class="langtext form-control shadow-none" type="text" readonly [value]="langText" />
        </div>
      </div>
    </div>
    
  </nav>
  