/* Background image for navbar */
.navbar {
    background: url('/navimage.jpg') no-repeat center center;
    background-size: cover;
    padding: 1.7rem;
  }
  
  /* Logo Styling */
  .navbar-brand {
    font-size: 1.3rem;
    font-weight: bold;
    color: white !important;
  }
  
  /* Center menu items */
  .navbar-nav {
    margin: auto;
  }
  
  /* Menu Item Styling */
  .nav-item .nav-link {
    color: white !important;
    font-size: 1rem;
    font-weight: 500;
  }
  
  /* Navbar Toggler Color */
  .navbar-toggler {
    outline: 2px solid transparent !important; /* Makes sure default outline is removed */
    box-shadow: none; /* Soft white glow */
    border: 1px solid white; /* White border */
    background-color: white; /* White background */
  }

  .language-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    background: white;
    position: relative;
  }
  
  .flag-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  
  input {
    border: none;
    outline: none;
    flex: 1;
    text-align: center;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
  }
  
  